        <footer class="footer">
            <ul class="footerlist">
                <li class="footerlinks">Employee Login</li>
                <li class="footerlinks"><a class="contact" target="_blank" href="https://github.com/fevercatdream/mesoamerican-museum">Contact Us</a></li>
                <li class="footerlinks"><i class="bi bi-facebook" style="font-size: 1.2rem; color: white;"></i></li>
                <li class="footerlinks"><i class="bi bi-instagram" style="font-size: 1.2rem; color: white;"></i></li>
                <li class="footerlinks"><i class="bi bi-twitter" style="font-size: 1.2rem; color: white;"></i></li>
                <li class="footerlinks"><i class="bi bi-youtube" style="font-size: 1.2rem; color: white;"></i></li>
            </ul>
        </footer>