    <footer class="footer">
        <nav>
            <ul class="footerlist">
                <li class="footerlinks contact"><a href="https://github.com/fevercatdream/mesoamerican-museum" target="_blank" rel="noopener">Contact</a></li>
                <li class="footerlinks"><a href="/catalogoptions">Employee</a></li>
                <li class="footerlinks bi bi-facebook"><a href="https://www.facebook.com/SmithsonianNMAI/" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks bi bi-instagram"><a href="https://www.instagram.com/smithsoniannmai" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks bi bi-twitter"><a href="https://twitter.com/SmithsonianNMAI" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks bi bi-youtube"><a href="https://www.youtube.com/user/SmithsonianNMAI" target="_blank" rel="noopener"></a></li>
            </ul>
        </nav>
    </footer>