    <footer class="footer">
        <nav>
            <ul class="footerlist">
                <li class="footerlinks contact"><a href="https://github.com/fevercatdream/mesoamerican-museum" target="_blank" rel="noopener">Contact Us</a></li>
                <li class="footerlinks"><a href="/catalogoptions">Employee</a></li>
                <li class="footerlinks"><a class="bi bi-facebook" href="https://www.facebook.com/SmithsonianNMAI/" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks"><a class="bi bi-instagram" href="https://www.instagram.com/smithsoniannmai" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks"><a class="bi bi-twitter" href="https://twitter.com/SmithsonianNMAI" target="_blank" rel="noopener"></a></li>
                <li class="footerlinks"><a class="bi bi-youtube" href="https://www.youtube.com/user/SmithsonianNMAI" target="_blank" rel="noopener"></a></li>
            </ul>
        </nav>
    </footer>