    <footer class="footer">
        <ul class="footerlist">
            <li class="footerlinks"><a class="contact" target="_blank" href="https://github.com/fevercatdream/mesoamerican-museum">Contact Us</a></li>
            <li class="footerlinks"><a target="_blank" href="https://www.facebook.com/SmithsonianNMAI/"><i class="bi bi-facebook" style="font-size: 1.2rem; color: white;"></i></a></li>
            <li class="footerlinks"><a target="_blank" href="https://www.instagram.com/smithsoniannmai"><i class="bi bi-instagram" style="font-size: 1.2rem; color: white;"></i></a></li>
            <li class="footerlinks"><a target="_blank" href="https://twitter.com/SmithsonianNMAI"><i class="bi bi-twitter" style="font-size: 1.2rem; color: white;"></i></a></li>
            <li class="footerlinks"><a target="_blank" href="https://www.youtube.com/user/SmithsonianNMAI"><i class="bi bi-youtube" style="font-size: 1.2rem; color: white;"></i></a></li>
            <li class="footerlinks"><a href="/catalogoptions"><i style="font-size: 1.2rem; color: white;"></i>Employee</a></li>
        </ul>
    </footer>