<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />    
    <link rel="stylesheet" href="/css/additem.css"/>
    <title>Add Item</title>
    <link rel="icon" type="image/x-icon" href="/icons/favicon.png">
</head>
<body>
    <div class="pagebox">
    <form class="catalogmodal">
        <h1 class="options">Add an Item</h1>
            <select title="itemcategory" class="dropdown" name="item" id="item" required>
                <option class="menuoptions" value="itemselection" selected disabled>Item Category</option>
                <option class="menuoptions" value="Sculptures">Sculptures and Carvings</option>
                <option class="menuoptions" value="Jewelry">Jewelry</option>
                <option class="menuoptions" value="Architecture">Architecture</option>
            </select>
            <select title="civilizationcategory" class="dropdown" name="civilization" id="civilization" required>
                <option class="menuoptions" value="civilizationselection" selected disabled>Civilization Selection</option>
                <option class="menuoptions" value="Olmec">Olmec</option>
                <option class="menuoptions" value="Mayan">Mayan</option>
                <option class="menuoptions" value="Inca">Inca</option>
                <option class="menuoptions" value="Aztec">Aztec</option>
            </select>

        <input class="nameinput" placeholder="Art Name">

        <input class="artistinput" placeholder="Artist Name">  

        <input class="timeinput" placeholder="Time Period">

        <textarea class="itemdesc" placeholder="Item Description"></textarea> 
        
        <button id = 'logout' class="catalogbutton2 menuoptions"type="submit" class="logoutbutton">Catalog</button>
        <button id = 'upload' class="catalogbutton2 menuoptions"type="submit" class="addbutton">Upload</button>
        <button id = 'add' class="catalogbutton2 menuoptions"type="submit" class="addbutton">Add</button>
        <p id = 'successMsg'>successfully added item!</p>
    </form>
    </div>
</body>
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
  <script src="/js/additem.js"></script>
</html>