<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesoamerican Collection</title>
    <link rel="stylesheet" href="../public/css/reset.css"/>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="url-to-cdn/splide.min.css">
    <link rel="stylesheet" href="../public/css/collection.css"/>
</head>
<body>
    <div class="backgroundbar2"></div>
    <header>
        <img class="museumicon" src="../assets/icons/MAMicon.jpeg" alt="icon of the museum">
        <h1 class="collectionh1">Mesoamerican History Museum</h1>
        <h2 class="collectionarth2">Civilization Art</h2>
    </header>
    <div class="timelinebar2"></div>
            <div>
                <div><img  class="sculptures" src="../assets/icons/sculpture.jpg" alt="a monkey vessel carved from smooth white stone"></div>
                <div class="yellowbar"><h4>Sculptures</h4></div>
                <div class="timelinebarhoriz"></div>

                <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                          <ul class="splide__list">
                              <li id="galleryslide" class="splide__slide"><img src="../assets/icons/sculpture2.jpg"></li>
                              <li id="galleryslide2" class="splide__slide"><img src="../assets/icons/sculpture2.jpg"></li>
                              <li id="galleryslide3" class="splide__slide"><img src="../assets/icons/sculpture2.jpg"></li>
                          </ul>
                    </div>
                  </div>
                <!-- <div class="content">
                    <div class="genart">
                        <img class="articon" src="../assets/icons/sculpture2.jpg" alt="its a carving!">
                        <p>Title</p><p>Date</p>
                    </div>
                    <div class="genart">
                        <img class="articon" src="../assets/icons/sculpture2.jpg" alt="its a carving!">
                        <p>Title</p><p>Date</p>
                    </div>
                </div> -->
            </div>

            <!-- <div class="content">
                <div class="backgroundbar3"></div>
                <div class="timelinebar3"></div>
                <img class="articon" src="../assets/icons/sculpture2.jpg">
                <img class="articon" src="../assets/icons/sculpture2.jpg">
                <img class="articon" src="../assets/icons/sculpture2.jpg">
            </div> -->

            <div>
                <div><img class="jewelry" src="../assets/icons/jewelry.png" alt="a jade pendant with gold accents"></div>
                <div class="yellowbar2"><h4>Jewelry</h4></div>
                <div class="timelinebarhoriz2"></div>
            </div>
            <div>
                <div><img class="architecture" src="../assets/icons/architecture.jpg" alt="the Palenque ruins"></div>
                <div class="yellowbar3"><h4>Architecture</h4></div>
                <div class="timelinebarhoriz3"></div>
            </div>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
        <script>
            var splide = new Splide( '.splide', {
            perPage: 3,
            rewind : true,
            } );
        
        splide.mount();</script>
</body>

</html>