<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />    
    <link rel="stylesheet" href="./css/catalogoptions.css"/>
    <title>Update Item</title>
</head>
<body>
    <div class="pagebox">
    <form class="catalogmodal">
        <h1 class="options">Catalog Options</h1>
        <button id ='add-item-button' class="catalogbutton" type="submit">Submit a New Item</button>
        <button id ='update-item-button'  class="catalogbutton"type="submit">Update an Existing Item</button>
        <button id ='delete-item-button' class="catalogbutton"type="submit">Delete an Item</button>
        <button id ='home-button'class="catalogbutton2"type="submit" class="createbutton">Home</button>
        <button id ='logout-button'class="catalogbutton2"type="submit" class="submitbutton">Logout</button>
    </form>
    </div>
</body>
 <script src="./js/catalogoptions.js"></script>
</html>