<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesoamerican Collection</title>
    <link rel="stylesheet" href="../public/css/reset.css"/>
    <link rel="stylesheet" href="../public/css/collection.css"/>
</head>
<body>
    <header>
        <img class="museumicon" src="../assets/icons/MAMicon.jpeg" alt="icon of the museum">
        <h1 class="collectionh1">Mesoamerican History Museum</h1>
        <h2 class="collectionarth2">Civilization Art</h2>
    </header>
    <div>

        <div class="timelinebar2"></div>
        <div class="timelinebarhoriz"></div>
        <div class="timelinebarhoriz2"></div>
        <div class="timelinebarhoriz3"></div>

        <div><img  class="sculptures" src="../assets/icons/sculpture.jpg" alt="a monkey vessel carved from smooth white stone"></div>
        <div><img class="jewelry" src="../assets/icons/jewelry.png" alt="a jade pendant with gold accents"></div>
        <div><img class="architecture" src="../assets/icons/architecture.jpg" alt="the Palenque ruins"></div>
    </div>
</body>
</html>