<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesoamerican Catalog</title>
    <link rel="icon" type="image/x-icon" href="/icons/favicon.png">
    <link rel="stylesheet" type= 'text/css' href="/css/reset.css" />
    <link rel="stylesheet" type= 'text/css' href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <link rel="stylesheet" type= 'text/css' href="url-to-cdn/splide.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type= 'text/css' href="/css/catalog.css" />
</head>
<body>
    <div class="backgroundbar2"></div>
    <header>
        <img class="museumicon" src="/icons/MAMicon.jpeg" alt="icon of the museum">
        <h1 class="collectionh1">Mesoamerican History Museum</h1>
        <h2 class="collectionarth2">{{civs.name}}</h2>
    </header>
            {{#each civs.art_types as |type|}}
                <div>
                <div><img id='typeImage' class="sculptures" src="/icons/sculpture.jpg" alt="a monkey vessel carved from smooth white stone"></div>
                <div class="yellowbar"><h4>{{name}}</h4></div>
                <div id="splide{{id}}" class="splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                          <ul class="splide__list">
                                {{#each artworks as |image|}}
                                    {{> carosel}}
                                {{/each}}
                          </ul>
                    </div>
                </div>
            </div>
            {{/each}}

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="/js/catalog.js"></script>
</body>
    {{> footer}}
</html>