<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />    
    <link rel="stylesheet" href="./css/deleteitem.css"/>
    <title>Delete Item</title>
    <link rel="icon" type="image/x-icon" href="./icons/favicon.png">
</head>
<body>
    <div class="pagebox">
    <div class="catalogmodal">
        <h1 class="options">Delete an Item</h1>
        <label class="label" for="itemsearch">Select item by ID #:</label>
        <input class="searchinput" placeholder="Item ID #">
        <label class="label" for="itemicon">Are you sure you want to delete:</label>
        <div class="yellowborder">
        <div class="itemicon">
            <img class="imgicon" src="" alt="No item selected">
            <p id = 'hidden'>No item selected</p>
        </div>
        <div class="itemvalues">
            <p class="itemname">Name</p>
            <p class="itemtype">Type</p>
            <p class="itemciv">Civilization</p>
        </div> 
        </div>
        <button id ='catalog' class="catalogbutton2 menuoptions"type="button" class="homebutton">Catalog</button>
        <button id ='delete' class="catalogbutton2 menuoptions"type="button" class="deletebutton">Delete</button>
         <p id = 'successMsg' class="success">Successfully Deleted Item!</p>
    </div>
    </div>
</body>
  <script src="/js/deleteitem.js"></script>
</html>