<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />    
    <link rel="stylesheet" href="./css/catalogoptions.css"/>
    <title>Item Options</title>
    <link rel="icon" type="image/x-icon" href="./icons/favicon.png">
</head>
<body>
    <div class="pagebox">
    <form class="catalogmodal">
        <h1 class="options">You must be an employee to make changes to the museum</h1>
                <button id ='home' class="catalogbutton2 menuoptions"type="submit" class="homebutton">Home</button>
    </form>
    </div>
</body>
 <script>const homeButton = document.getElementById('home');
if (homeButton) {
  homeButton.addEventListener('click', async (event) => {
    event.preventDefault()
  window.location.href = '/';
  });
}</script>
</html>