:root {
    --backgroundColor: rgb(29, 29, 32);
    --borderColor: rgb(168, 154, 22);
    --textColor: rgb(247, 247, 247);
    --hoverbackground: rgb(48, 48, 53);
}

html {
    background-color: var(--backgroundColor);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: fit-content;
}

.collectionh1{
    color: var(--textColor);
    margin-left: 10%;
    margin-top: 3%;
    font-size: 1.8vw;
}

.collectionarth2 {
    color: var(--textColor);
    margin-left: 13%;
    margin-top: -.5%;
    font-size: 1.3vw;
}

.museumicon {
    border-radius: 50%;
    position: absolute;
    top:0px;
    margin-top: 1%;
    margin-left: 1%;
    width: 8%;
    border: 5px solid var(--borderColor);
    z-index: 3;
    box-shadow: 5px 5px 15px rgb(29, 29, 29);
}

.museumicon:hover {
    cursor: pointer;
}

.backgroundbar2 {
    position: absolute;
    background-color: rgb(83, 9, 9);
    width: 40%;
    min-height: 150vh;
    top: 0px;
    margin-left: 3%;
    border-left: 20px solid rgb(126, 38, 7);
    border-right: 20px solid rgb(126, 38, 7);
    box-shadow: 10px 10px 15px black;
    z-index: -1;
}

.timelinebarhoriz, .timelinebarhoriz2, .timelinebarhoriz3{
    position: absolute;
    margin-top: -10%;
    margin-left: 5.3%;
    width: 7%;
    height: 5%;
    border-bottom: 5px solid var(--borderColor);
    box-shadow: 5px 5px 8px rgb(29, 29, 29);
    z-index: 1;
}

.timelinebar2, .timelinebar3 {
    position: absolute;
    height: 90vh;
    margin-left: 5%;
    margin-top: 8%;
    border-right: 5px solid var(--borderColor);
    box-shadow: 5px 0px 8px rgb(29, 29, 29);
}

.timelinebar3 {
    margin-left: -4%;

}

.timelinebarhoriz2, .timelinebarhoriz3 {
    margin-top: -10%;
}

.sculptures, .jewelry, .architecture {
    width: 30%;
    height: 20%;
    position: relative;
    margin-top: 4%;
    margin-left: 8%;
    border: 5px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(29, 29, 29);
    z-index: 2;
}

.jewelry, .architecture {
    margin-top: 4%;
}

.yellowbar, .yellowbar2, .yellowbar3 {
    position: absolute;
    width: 29.5%;
    height: 2.5vw;
    margin-top: -4%;
    margin-left: 7.9%;
    background-color: var(--backgroundColor);
    z-index: 3;
    border-top: 2px solid var(--borderColor);
    border-bottom: 2px solid var(--borderColor);
    box-shadow: 0px 5px 10px rgb(53, 53, 53);
    display: flex;
    justify-content: end;
    padding-right: 15px;
    align-items: center;
    color: var(--textColor);
    opacity: 80%;
}

h4 {
    font-size: 100%;
}

.splide{
    position: absolute;
    margin-left: 45%;
    margin-top: -15.5%;
    width: 50vw;
    height: 15vw;
    border: 2px solid rgb(77, 75, 58);
    background-color: var(--hoverbackground);
    border-radius: 10px;
}

.splide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    height: 20%;
    margin-right: -5%;
    margin-left: 3%;
}

.slideicon {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    box-shadow: 10px 10px 10px rgb(22, 22, 22);
    opacity: 85%;
}

.slideicon:hover {
    cursor: pointer;
    opacity: 100%;
}

.icontitle {
    color: var(--textColor);
    padding: 8px;
}

.footer {
    position: relative;
    margin-top: 5%;
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding-right: 2%;
}

.footerlist {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.footerlinks {
    margin: 1%;
    margin-top: -1%;
}

.footerlinks:hover {
    cursor: pointer;
}

.contact {
    background-color: var(--backgroundColor);
    padding-inline: none;
}

a {
    color: white;
    text-decoration: none;
}