:root {
    --backgroundColor: rgb(29, 29, 32);
    --borderColor: rgb(168, 154, 22);
    --textColor: rgb(247, 247, 247);
    --hoverbackground: rgb(48, 48, 53);
}

html {
    background-color: var(--backgroundColor);
    font-family: Arial, Helvetica, sans-serif;
    height: 150vh;
}

.collectionh1{
    color: var(--textColor);
    margin-left: 11%;
    margin-top: 3%;
    font-size: 25px;
}

.collectionarth2 {
    color: var(--textColor);
    margin-left: 13%;
    margin-top: 1%;
    font-size: 18px;
}

.museumicon {
    border-radius: 50%;
    position: absolute;
    top:0px;
    margin-top: 1%;
    margin-left: 1%;
    width: 8%;
    border: 5px solid var(--borderColor);
    z-index: 3;
    box-shadow: 10px 10px 15px black;
}

.museumicon:hover {
    cursor: pointer;
}

.timelinebar2 {
    position: absolute;
    height: 55vw;
    margin-left: 5%;
    margin-top: 6%;
    border-right: 5px solid var(--borderColor);
    z-index: 2;
}

.timelinebarhoriz, .timelinebarhoriz2, .timelinebarhoriz3{
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
    width: 7%;
    height: 16%;
    border-top: 5px solid var(--borderColor);
    box-shadow: 10px -5px 5px rgb(29, 29, 29);
}

.timelinebarhoriz2 {
    margin-top: 33%;
}

.timelinebarhoriz3 {
    margin-top: 57%;
}

.sculptures, .jewelry, .architecture {
    width: 40%;
    height: 30%;
    position: relative;
    margin-top: 4%;
    margin-left: 12%;
    border: 5px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(29, 29, 29);
    opacity: 80%;
}

.jewelry{
    margin-top: 3%;
}

.architecture {
    margin-top: 3%;
}

.sculptures:hover, .jewelry:hover, .architecture:hover {
    cursor: pointer;
    opacity: 100%;
}